@font-face {
  font-family: 'Lora', serif;
  src: url(../fuentes/Lora-Italic-VariableFont_wght.ttf);
}

html,
body {
  font-family: 'Lora', serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-image: url(../imagenes/pageBg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: fixed;
  background-attachment: fixed;
}

/* Estilos para el encabezado */
header {
  background-image: linear-gradient(to bottom, rgba(13, 46, 8, 0.8), rgba(0, 0, 0, 0));
  color: #fff;
  text-align: center;
  padding: 40px;
}

h1 {
  margin: 0;
  font-size: 72px;
}

/* Estilos para la barra de navegación */
.sidebar {
  border: none;
  /* Elimina el borde */
  box-shadow: none;
  /* Elimina la sombra */
  background-color: transparent;
  /* Hace el fondo transparente */
  width: fit-content;
}

.bg-light {
  --bs-bg-opacity: 0;
  background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important;
}

.card {
  --bs-bg-opacity: 30%;
  background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important;

}

.navbar-brand {
  font-size: 24px;
}

.nav-link {
  color: #212529;
  background-color: #E9F4DF;
  border-radius: 20px;
}

.nav-link:hover {
  color: #212529;
  background-color: #B7CAA5;
  border-radius: 20px;
}
.navbar-nav > li {
  float: none;
  display: inline-block;
  padding-top: 10px;
}
.navbar-nav {
  width: 100%;
  text-align: center;

}
/* Estilos para la sección principal */
section {
  padding: 20px;
  font-size: 18px;
  line-height: 1.5;
}

.carousel-inner {
  --bs-bg-opacity: 30%;
  background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important;
  height: 270px;
}

.carousel-item-left {
  display: flex;
  align-items: center;
}

.carousel-item-left img {
  margin-right: 0 auto;
  margin-left: 120px;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-item-height  .carousel-image{
  height: 100%;
  display: flex;
  align-items: center;
  object-fit: cover;
}

.carousel-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}